
#header, .module h2, .module caption, .inline-group h2 {
    background-color: #ef6c00;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: white;
}

div.breadcrumbs {
    background-color: #ff5722;
}
